<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="./assets/output.css" rel="stylesheet">
    <title>Tielinen.pro</title>
  </head>
  <body class="page bg-softWhite text-deepSlate font-montserrat">
    <header id="header" class="header p-[35px_30px_35px_40px]">
      <div class="header__logo text-center mb-[20px]">
        <a href="#" class="header__logo-link lg:text-[56px] font-extrabold lg:font-bold text-[20px]">Janne Tielinen</a>
      </div>
      <div class="header__actions flex justify-between items-center">
        <nav class="header__nav">
          <button class="menu__toggle block md:hidden">
            {%- render './snippets/hamburger-icon.svg.liquid' -%}
          </button>
          <ul class="header__nav-list hidden">
            {%- for item in menus[0].items -%}
              <li class="header__nav-item">
                <a href="{{- item.link -}}" class="header__nav-link">{{- item.title -}}</a>
              </li>
            {%- endfor -%}
          </ul>
        </nav>
        <a
          href="#contact"
          class="header__cta-button text-white bg-frostedBlue p-[2px_15px_3px_15px] rounded-md text-[10px] font-semibold"
          >Contact Me</a
        >
      </div>
    </header>
    <main>
      <section id="hero" class="hero bg-frostedBlue">
        <div class="hero__content p-sectionDefault">
          <h1 class="hero__heading text-[22px] font-bold text-center pb-6">
            Shopify expert and <br>
            developer<br>
            at Your service
          </h1>
          <p class="hero__paragraph text-center text-[14px]">
            Whether You need some improvements to Your existing website, or You are thinking of brand new website or
            webshop on Shopify, great journey starts here.
          </p>
          {% comment %} <a href="#contact" class="hero__cta-button">Get in Touch</a> NO CTA in hero? {% endcomment %}
        </div>
        <div class="hero__images max-w-full flex justify-between">
          <img
            class="w-[65%] relative -mb-3 sm:-mb-5 md:-mb-6"
            src="./assets/herofin.png"
            alt="Screenshot of stores"
            width="988"
            height="678"
          >
          <img class="w-[35%]" src="./assets/janne_tielinen.png" alt="Janne Tielinen" width="162" height="229">
        </div>
      </section>
      <section id="about" class="about m-sectionDefault">
        <h2 class="about__title mt-sectionDefaultY mb-4 text-lg text-center tracking-tight ">
          Development and consultation can be made simple yet effective
        </h2>
        <p class="about__description text-center mb-7">
          I specialize in building high-converting, visually stunning websites and Shopify stores, focusing on theme
          customization. Leave the complex code to me and enjoy a seamless, user-friendly experience that drives sales.
        </p>
        <video class="about__video w-full" width="362" height="204" controls>
          <source src="./assets/UpWork-Introduction-Video-2022.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </section>
      <section id="services" class="services">
        {%- for description_object in service-descriptions -%}
          {%- render './snippets/service-description.liquid',
            heading: description_object.heading,
            description: description_object.description
          -%}
        {%- endfor -%}
      </section>
      <section id="portfolio" class="portfolio bg-frostedBlue pt-36">
        <h2 class="portfolio__title  text-3xl text-center mb-9">Portfolio</h2>
        <p class="portfolio__description text-center mb-24">Some projects I enjoyed work with</p>
        <div class="portfolio__items">
          {%- for portfolio_item in portfolio-items -%}
            <div class="portfolio__item bg-white mx-7 mb-8 p-5 rounded-xl">
              <div class="portfolio__item-image mb-5">
                 <img class="rounded-xl" src="./assets/portfolio-images{{- portfolio_item.images[0].url -}}" alt="{{- portfolio_item.images[0].alt -}}" width="" height="">
              </div>
              <button class="portfolio__item-button text-2xl font-semibold text-softWhite bg-deepSlate w-full py-2 rounded-xl mb-5">{{- portfolio_item.button_label -}}</button>
              <h3 class="portfolio__item-title mb-2.5 text-2xl font-semibold">{{- portfolio_item.title -}}</h3>
              <p class="portfolio__item-description text-lg">{{- portfolio_item.description | truncate: 100  -}}</p>
            </div>
          {%- endfor -%}
        </div>
        <button class="portfolio__load-more">Load more</button>
      </section>
      <section id="featured-services" class="featured-services">
        <h2 class="featured-services__heading">Featured Services</h2>
        <p class="featured-services__subheading">Featured Services</p>
        <div class="featured-services__items">
          {%- for servive_item in featured-services -%}
            <div class="featured-services__item">
              <h3 class="featured-services__item-title">{{- servive_item.title -}}</h3>
              <p class="featured-services__item-description">
                {{- servive_item.description -}}
              </p>
            </div>
          {%- endfor -%}
        </div>
      </section>
      <section id="reviews" class="reviews">
        <h2 class="reviews__heading">Reviews</h2>
        <p class="reviews__subheading">Reviews subheading</p>
        {%- for review in upwork-profile.reviews -%}
          <div class="reviews__items">
            <div class="reviews__item">
              <div class="reviews__item-client">
                <p class="reviews__item-client-position">{{- review.reviewer_job_title -}}</p>
              </div>
              <p class="reviews__item-text">
                {{- review.review -}}
              </p>
            </div>
          </div>
        {%- endfor -%}
      </section>
      <section id="contact-form" class="contact-form">
        <h2 class="contact-form__title">Get in Touch</h2>
        <p class="contact-form__description">
          Have a question or want to work together? Fill out the form below, and I'll get back to you as soon as
          possible.
        </p>
        <form class="contact-form__form" action="#" method="post">
          <div class="contact-form__group">
            <label for="name" class="contact-form__label">Name</label>
            <input type="text" id="name" name="name" class="contact-form__input" placeholder="Your Name" required>
          </div>
          <div class="contact-form__group">
            <label for="email" class="contact-form__label">Email</label>
            <input type="email" id="email" name="email" class="contact-form__input" placeholder="Your Email" required>
          </div>
          <div class="contact-form__group">
            <label for="message" class="contact-form__label">Message</label>
            <textarea
              id="message"
              name="message"
              class="contact-form__textarea"
              placeholder="Your Message"
              required
            ></textarea>
          </div>
          <button type="submit" class="contact-form__button">Send Message</button>
        </form>
      </section>
    </main>
    <footer id="footer" class="footer">
      <div class="fooder__logo">
        <a href="#" class="header__logo-link">Janne Tielinen</a>
      </div>
      <nav class="footer__nav">
        {%- for menu in menus -%}
          <div class="footer__nav-menu">
            <h6>{{- menu.name -}}</h6>
            {%- for item in menu.items -%}
              <li class="header__nav-item">
                <a href="{{- item.link -}}" class="header__nav-link">{{- item.title -}}</a>
              </li>
            {%- endfor -%}
          </div>
        {%- endfor -%}
      </nav>
      <div class="footer__copyright">
        <small>&copy; {{ 'now' | date: '%Y' }} Janne Tielinen. All rights reserved.</small>s
      </div>
    </footer>
  </body>
</html>
