<section id="portfolio" class="bg-frostedBlue p-10 text-center lg:py-20">
  <h2 class="section-heading-margin">My Portfolio</h2>
  <p class="mb-10 xl:mb-20">
    View a comprehensive collection of my projects that demonstrate my technical skills, creativity, and dedication to
    providing exceptional service.
  </p>
  <div class="lg:mx-7 lg:grid lg:grid-cols-3 lg:gap-7">
    {%- assign portfolios_rendered = 0 -%}
    {%- for portfolio_item in portfolio_items -%}
      {%- unless portfolio_item.title == blank
        or portfolio_item.button_label == blank
        or portfolio_item.description == blank
        or portfolio_item.images[0].url == blank
        or portfolio_item.active == false
      -%}
        <div class="js-portfolio-item mb-10 rounded-xl bg-white p-5 last:mb-0 xl:mb-20 {% if portfolios_rendered > 2 %}hidden{%- endif -%}">
          <div class="mb-5">
            <img
              class="js-open-modal cursor-pointer rounded-xl bg-deepSlate p-1"
              src="./assets/portfolio-images{{- portfolio_item.images[0].url -}}"
              alt="{{- portfolio_item.images[0].alt -}}"
              loading="lazy"
            >
          </div>
          <button class="js-open-modal mb-5 w-full rounded-xl bg-deepSlate py-2 text-lg font-semibold text-softWhite">
            {{- portfolio_item.button_label -}}
          </button>

          <h3 class="mb-2.5 text-left text-lg font-semibold">{{- portfolio_item.title -}}</h3>
          <p class="text-left">{{- portfolio_item.description | truncate: 250 -}}</p>

          <!-- Dark layer (backdrop) -->
          <div class="js-portfolio-modal-backdrop fixed inset-0 z-10 hidden bg-black bg-opacity-75"></div>
          <div class="js-portfolio-modal fixed  left-1/2 top-5 z-20 hidden max-h-[calc(100vh-2.5rem)] w-11/12 -translate-x-1/2 overflow-y-auto rounded-xl bg-white py-16 shadow-modal lg:w-3/5">
            {%- render './snippets/close-modal.svg.liquid' -%}
            <div class="relative mb-9 w-full">
              <button class="absolute left-1/2 top-0 z-10 w-4/5 -translate-x-1/2 -translate-y-1/2 rounded-xl bg-deepSlate py-2 text-2xl font-semibold text-softWhite">
                {{- portfolio_item.button_label -}}
              </button>
              <div>
                <div class="js-main-carousel m-3 rounded-xl bg-deepSlate p-1 lg:m-5">
                  {%- for image in portfolio_item.images -%}
                    <div class="px-2.5">
                      <img
                        class="rounded-xl bg-transparent"
                        src="./assets/portfolio-images{{- image.url -}}"
                        alt="{{- image.alt -}}"
                        loading="lazy"
                      >
                    </div>
                  {%- endfor -%}
                </div>
              </div>
            </div>
            <h4 class="mb-4 px-2.5 text-2xl lg:px-6">{{- portfolio_item.title -}}</h4>
            <p class="px-2.5 lg:px-6">{{- portfolio_item.description -}}</p>
          </div>
        </div>
        {%- assign portfolios_rendered = portfolios_rendered | plus: 1 -%}
      {%- endunless -%}
    {%- endfor -%}
  </div>
  {%- if portfolio_items.size > 3 -%}
    <div id="js-portfolio-load-more" class="bg-frostedBlue text-center">
      <button class="large-button">See More Work</button>
    </div>
  {%- endif -%}
</section>
