<section id="portfolio" class="portfolio bg-frostedBlue pb-24 pt-20">
  <h2 class="portfolio__title  mb-9 text-center text-3xl">My Portfolio</h2>
  <p class="portfolio__description mb-24 text-center mx-sectionDefaultX">View a comprehensive collection of my projects that demonstrate my technical skills, creativity, and dedication to providing exceptional service.</p>
  <div class="portfolio__items">
    {%- assign portfolios_rendered = 0 -%}
    {%- for portfolio_item in portfolio_items -%}
      {%- unless portfolio_item.title == blank
 or portfolio_item.button_label == blank
 or portfolio_item.description == blank
      -%}
        <div class="portfolio__item mx-7 mb-8 rounded-xl bg-white p-5 last:mb-0 {% if portfolios_rendered > 2 %}hidden{%- endif -%}">
          <div class="portfolio__item-image mb-5">
            <img
              class="js-open-modal rounded-xl"
              src="./assets/portfolio-images{{- portfolio_item.images[0].url -}}"
              alt="{{- portfolio_item.images[0].alt -}}"
              width=""
              height="">
          </div>
          <button class="portfolio__open-modal-button js-open-modal mb-5 w-full rounded-xl  bg-deepSlate py-2 text-2xl font-semibold text-softWhite">
            {{- portfolio_item.button_label -}}
          </button>

          <h3 class="portfolio__item-title mb-2.5 text-2xl font-semibold">{{- portfolio_item.title -}}</h3>
          <p class="portfolio__item-description text-lg">{{- portfolio_item.description | truncate: 100 -}}</p>

          <!-- Dark layer (backdrop) -->
          <div class="portfolio__modal-backdrop fixed inset-0 z-10 hidden bg-black bg-opacity-75"></div>
          <div class="portfolio__modal fixed left-1/2 top-5 z-20 hidden max-h-[calc(100vh-2.5rem)] w-11/12 -translate-x-1/2 overflow-y-auto rounded-xl bg-white py-16 shadow-modal">
            {%- render './snippets/close-modal.svg.liquid' -%}
            <div class="portfolio__modal-image-slider relative mb-9 w-full">
              <button class="portfolio__modal-button absolute left-1/2 top-0 z-10 w-4/5 -translate-x-1/2 -translate-y-1/2 rounded-xl bg-deepSlate py-2 text-2xl font-semibold text-softWhite">
                {{- portfolio_item.button_label -}}
              </button>
              <div class="portfolio__modal-slider-container">
                <div class="portfolio__modal-slider-images-wrapper main-carousel">
                  {%- for image in portfolio_item.images -%}
                    <div class="carousel-cell px-2.5">
                      <img
                        class="rounded-xl"
                        src="./assets/portfolio-images{{- image.url -}}"
                        alt="{{- image.alt -}}">
                    </div>
                  {%- endfor -%}
                </div>
              </div>
            </div>
            <h4 class="mb-4 px-2.5 text-2xl">{{- portfolio_item.title -}}</h4>
            <p class="px-2.5">{{- portfolio_item.description -}}</p>
          </div>
        </div>
        {%- assign portfolios_rendered = portfolios_rendered | plus: 1 -%}
      {%- endunless -%}
    {%- endfor -%}
  </div>
  {%- if portfolio_items.size > 3 -%}
    <div class="bg-frostedBlue px-2.5">
      <button class="portfolio__load-more mt-14 block w-full rounded-xl bg-deepSlate py-7 text-3xl font-semibold text-softWhite">
        Load more
      </button>
    </div>
  {%- endif -%}
</section>