<section id="portfolio" class="portfolio bg-frostedBlue pt-36 pb-24">
  <h2 class="portfolio__title  text-3xl text-center mb-9">Portfolio</h2>
  <p class="portfolio__description text-center mb-24">Some projects I enjoyed work with</p>
  <div class="portfolio__items">
    {%- for portfolio_item in portfolio_items limit: 3 -%}
      <div class="portfolio__item bg-white mx-7 mb-8 p-5 last:mb-0 rounded-xl">
        <div class="portfolio__item-image mb-5">
          <img
            class="rounded-xl"
            src="./assets/portfolio-images{{- portfolio_item.images[0].url -}}"
            alt="{{- portfolio_item.images[0].alt -}}"
            width=""
            height=""
          >
        </div>
        <button class="portfolio__open-modal-button text-2xl font-semibold text-softWhite  bg-deepSlate w-full py-2 rounded-xl mb-5">
          {{- portfolio_item.button_label -}}
        </button>

        <h3 class="portfolio__item-title mb-2.5 text-2xl font-semibold">{{- portfolio_item.title -}}</h3>
        <p class="portfolio__item-description text-lg">{{- portfolio_item.description | truncate: 100 -}}</p>

        <!-- Dark layer (backdrop) -->
        <div class="portfolio__modal-backdrop fixed inset-0 bg-black bg-opacity-75 z-10 hidden"></div>
        <div class="portfolio__modal hidden shadow-modal bg-white py-16 px-2.5 fixed top-5 bottom-5 left-1/2 -translate-x-1/2 w-11/12 overflow-y-auto rounded-xl z-20">
          {%- render './snippets/close-modal.svg.liquid' -%}
          <div class="portfolio__modal-image-slider mb-9 w-full relative">
            <button class="portfolio__modal-button text-2xl font-semibold text-softWhite bg-deepSlate w-4/5 py-2 rounded-xl absolute left-1/2 -translate-x-1/2 top-0 -translate-y-1/2">
              {{- portfolio_item.button_label -}}
            </button>
            <div class="portfolio__modal-slider-container">
              <div class="portfolio__modal-slider-images-wrapper main-carousel">
                {%- for image in portfolio_item.images -%}
                  <div class="carousel-cell">
                    <img
                      class="rounded-xl"
                      src="./assets/portfolio-images{{- image.url -}}"
                      alt="{{- image.alt -}}"
                    >
                  </div>
                {%- endfor -%}
              </div>
            </div>
          </div>
          <h4 class="text-2xl mb-4">{{- portfolio_item.title -}}</h4>
          <p>{{- portfolio_item.description -}}</p>
        </div>
      </div>
    {%- endfor -%}
  </div>
  {%- if portfolio-items.size > 3 -%}
    <div class="bg-frostedBlue px-2.5">
      <button class="portfolio__load-more block w-full mt-14 py-7 text-softWhite bg-deepSlate text-3xl font-semibold rounded-xl">
        Load more
      </button>
    </div>
  {%- endif -%}
</section>
