<section id="reviews" class="reviews section-padding bg-frostedBlue text-center">
  <h2 class="section-heading-margin">Reviews</h2>
  <p class="lg:text mb-10 lg:mb-16 xl:mb-20">
    Every testimonial below is a 5‑star review left by real clients on Upwork, where I’m a Top Rated Plus freelancer.
    <a
      class="mt-5 block font-bold"
      target="_blank"
      href="https://www.upwork.com/freelancers/jannetielinen?s=1017484851352698949"
      ><span class="underline">See all reviews on my Upwork profile</span></a
    >
  </p>
  <div id="js-reviews-items">
    {% assign sorted_reviews = reviews | sort: 'date' | reverse %}
    {%- for review in sorted_reviews %}
      <article
        itemscope
        itemtype="http://schema.org/Review"
        class="relative mb-10 mr-3 mt-24 flex min-h-[600px] w-4/5  items-center rounded-xl bg-white px-11 pb-24 pt-28 md:max-w-[457px] lg:mx-14 lg:mt-32 lg:min-h-[710px] lg:px-20 lg:pt-36"
      >
        <div itemprop="itemReviewed" itemscope itemtype="http://schema.org/Service">
          <meta itemprop="name" content="{{- review.job_title -}}">
        </div>
        <div class="circle absolute left-1/2 top-0 h-44 w-44 -translate-x-1/2 -translate-y-1/2 overflow-hidden rounded-full bg-dissolvedDenim lg:h-64 lg:w-64">
          {%- render './snippets/review-star.svg.liquid', classes: 'absolute left-1/2 top-8 -translate-x-[150%]' -%}
          {%- render './snippets/review-star.svg.liquid', classes: 'absolute left-1/2 top-6 -translate-x-1/2' -%}
          {%- render './snippets/review-star.svg.liquid', classes: 'absolute left-1/2 top-8 translate-x-1/2' -%}
          <h6
            itemprop="name"
            class="absolute top-1/2 w-full px-1 text-center text-sm font-semibold leading-tight lg:text-xl"
          >
            {{- review.job_title | truncate: 30 -}}
          </h6>
        </div>

        <div class="relative">
          {%- render './snippets/quotes-start.svg.liquid', classes: 'absolute bottom-full right-full' -%}
          <p
            itemprop="reviewBody"
            class="relative mx-2 my-4 text-sm md:text-2xl"
          >
            {{- review.review | truncate: 240 -}}
          </p>

          <div class="absolute -right-3 top-full flex flex-col items-end space-y-1">
            {%- render './snippets/quotes-end.svg.liquid', classes: '' -%}

            <span class="text-right">
              {{- review.reviewer_job_title -}}
              <time class="block" datetime="{{ review.date }}">{{- review.date | date: '%b %Y' -}}</time>
            </span>
          </div>
        </div>

        <div
          itemprop="reviewRating"
          itemscope
          itemtype="http://schema.org/Rating"
          class="sr-only"
        >
          <meta itemprop="worstRating" content="1">
          <meta itemprop="ratingValue" content="5">
          <meta itemprop="bestRating" content="5">
        </div>
        <meta itemprop="datePublished" content="{{ review.date | date: '%Y-%m-%d' }}">
        {% comment %}
          <span class="absolute bottom-3 left-11 font-bold lg:left-20">
            {% assign new_length = review.date.size | minus: 3 %}
            {% assign short_date = review.date | slice: 0, new_length %}
            {{ short_date }}
          </span>
        {% endcomment %}

        <span class="absolute bottom-3 right-3 font-bold">
          {{- forloop.index -}}
          /
          {{- reviews.size -}}
        </span>
      </article>
    {%- endfor %}
  </div>
</section>
